<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <%= render 'public/members/members_profile', member: @member,room: @room, entry: @entry %>
      <%= render 'public/members/members_bar', member: @member %>
        <% if @post_favorites.blank? %>
          <div>まだいいねした投稿はありません</div>
        <% else %>
          <%= render 'public/shared/post_index', posts: @post_favorites %>
        <% end %>
      <%= render 'public/shared/new_post_btn' %>
    </div>
  </div>
</div>
