<div class="text-right">
  <% if member_signed_in? %>
    <% if params[:id] = current_member.id %>
      <%= link_to new_post_path do %>
        <buttun class="btn btn-primary">新規投稿する</buttun>
      <% end %>
    <% end %>
  <% end %>
</div>
