  <div>
    <nav class="mb-2 navbar navbar-expand-lg navbar-dark">
      <ul class="navbar-nav text-nowarp">
        <li class="nav-item text-nowarp"><%= link_to "投稿検索", searches_search_post_index_path, class: "btn text-secondary mr-3" %></li>
        <li class="nav-item text-nowarp"><%= link_to "城検索", searches_search_shiro_index_path, class: "btn text-secondary mr-3" %></li>
      </ul>
    </nav>
  </div>

