<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <div class="main-visual-cover mx-auto mt-5 mb-5">
       全国に国の重要文化財、国宝などに指定されているような有名な城郭から、<br>
       記録にかろうじて残されている山城まで全国に約1万か所以上あると言われています。 <br>
       本アプリはそんな城郭、城跡を訪れたことを記録できるアプリです。<br>
       城好きな人の為の記録、交流を目的としたコミュニティサイトを目指します。 <br>
       お城に興味や情熱を抱く人々のためのコミュニティプラットフォームです。 <br>
       日本中のお城に関する情報や資料、写真、歴史的背景、建築に関する情報、<br>
       そしてお城好き同士の交流を促進する場としてしていきたいです。​
      </div>
    </div>
  </div>
</div>
