<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <h3>タイムライン</h3>
      <div>
        <% if @posts.blank? %>
          <div>まだ投稿はありません</div>
        <% else %>
          <%= render 'public/shared/post_index', posts: @posts %>
        <% end %>
      </div>
    </div>
  </div>
</div>
