<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <div>
        マップ情報
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3260.871528451772!2d136.89711337625528!3d35.184754457086186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600376cbc7b0efb1%3A0xb9d3e9789275a677!2z5ZCN5Y-k5bGL5Z-O!5e0!3m2!1sja!2sjp!4v1694663719633!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div>
        <h3>タイムライン</h3>
        <div>
          <% if @posts.blank? %>
            <div>まだ投稿はありません</div>
          <% else %>
            <% if member_signed_in? %>
              <%= render 'public/shared/post_index', posts: @followers_posts %>
            <% else %>
              <%= render 'public/shared/post_index', posts: @posts %>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= render 'public/shared/new_post_btn' %>
        </div>
      </div>

    </div>
  </div>
</div>
