  <!--DM送るボタン用の記述-->
<div class="mr-1">
  <% if current_member.following?(member) && (member.following? current_member) %>
    <% if @is_room == true %>
      <%= link_to "DMを送る", room_path(@room_id), class: "btn btn-secondary mr-3" %>
    <% else %>
      <%= form_with model: room do |f| %>
        <%= f.hidden_field :member_id, value: member.id %>
        <%= f.submit "チャットを始める", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
</div>