      <div class="flex-for-more-md col-lg-7 offset-lg-1 col-md-2 offset-md-7 col-sm-2 offset-sm-5 col-6">
        <div>
          <nav class="mb-2 float-right navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler mt-3" type="button" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarDropdown">
              <ul class="navbar-nav horizontal-for-more-than-md">
                <li class="nav-item"><%= link_to "訪れた城", member_my_maps_path(member.id), class: "btn text-secondary mr-3" %></li>
                <li class="nav-item"><%= link_to "行きたい城", member_shiro_favorites_path(member.id), class: "btn text-secondary mr-3" %></li>
                <li class="nav-item"><%= link_to "いいね", member_post_favorites_path(member.id), class: "btn text-secondary mr-3, 'data-turbolinks': false" %></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>