<div>ニックネーム</div>
　<div>
    <%= member.nick_name %>
  </div>
  <div>プロフィール</div>
  <div>
    <%= member.profile %>
  </div>
  <div>
    <% if params[:id] = current_member.id %>
      <%= link_to edit_member_path(current_member.id) do %>
        <buttun class="btn btn-success">プロフィールを編集する</buttun>
      <% end %>
    <% end %>
  </div>