header {
  width: 100%;
  background-color: #C0C0C0;
}
footer {
  width: 100%;
  background-color: #C0C0C0;
}

.object-fit-cover {
  object-fit: cover;
}
.text-nowarp {
  white-space: nowrap;
}
.members-profile{
  outline: 2px solid;
  outline-color: #C0C0C0;
  border-radius: 0.5rem;
}