<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <%= render 'public/members/members_profile', member: @member %>
      <div class="row">
        <%= render 'public/members/members_bar', member: @member %>
        <% if @my_maps.blank?%>
          <div>まだ訪れた城はありません</div>
        <% else %>
          <% @my_maps.each do |my_maps| %>
            <div>
              
            </div>
          <% end %>
        <% end %>
      </div>
      <%= render 'public/shared/new_post_btn' %>
    </div>
  </div>
</div>
