<div class="container p-3">
  <div class="row">
    <div class="col-12">
       <% if @shiros.nil? %>

        <h4>まだ登録されていません</h4>
      <% else %>
        <%= render 'public/shared/shiro_index', shiros: @shiros %>
      <% end %>

    </div>
  </div>
</div>
