<div>
  <%= link_to notification.subject.member.nick_name, member_path(notification.subject.member) %>
  があなたの
  <%= link_to '投稿', post_path(notification.subject.post) %>
  にいいねしました
  <%#= " (#{time_ago_in_words(notification.created_at)}前)" %>
</div>
