  <div>
    <%= link_to notification.subject.follower.nick_name, member_path(notification.subject.follower) %>
    があなたをフォローしました
    <%#= " (#{time_ago_in_words(notification.created_at)}前)" %>
  </div>
