  <h4>通知</h4>
  <% if @notifications.blank? %>
    通知はありません
  <% else %>

    <%= link_to "全削除",notification_path(@notifications), method: :delete,class:"btn btn-light" %>
    <% @notifications.each do |notification| %>
        <%= render "#{notification.action_type}", notification: notification %>
    <% end %>
  <% end %>
